/*disable text selection in the body*/
body {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}
.loading {
  justify-self: center;
  align-self: center;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.galeryimage {
  transition:all ease-in-out 0.1s;
  z-index: 1;
  border-radius: 40px;
  border: solid 25px white;
}
#welcomeCameraLogo {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px, 0 10px 10px rgba(0, 0, 0, 0), 0 5px 10px rgba(7, 0, 0, 0);
  text-rendering: geometricPrecision;
}
/*create a thumbnail class and add a on hover effect */
.thumbnail {
  padding: 8px;
  /*add a modern shadow effect*/
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  6px 6px 12px #f2f2f2,-6px -6px 12px #ffffff;
  margin: 50px;
  animation: backInDown 1.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
/* Add a hover effect */
.thumbnail:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
  z-index: 2;
}
.thumbnail:nth-child(0) {
  margin-top: 10px;
}
.thumbnail:nth-child(1) {
  margin-top: 10px;
}
.thumbnail:nth-child(2) {
  margin-top: 10px;
}
.heart {
  color: #e9185d;
  border-radius: 100%;
  text-align: center;
  margin-left:30px;
  padding:10px;
  /*add a soft 3d shadow*/
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.imageDownload {
  text-decoration: underline solid rgb(196, 196, 196);
  color: rgb(104, 104, 104);
  margin-left: 19px;
  font-size: 18px;
}
.caption {
  font-size: 19.5px;
  font-weight: lighter;
  margin-left: 10px;
}
.galeryimage:active {
  transition:all ease-in-out 0.1s;
  z-index: 2;
  transform: scale(1.2);
  border:10px;
  /*add a box shadow simulating that the object is floating*/
  box-shadow: 0px 0px 10px rgba(66, 66, 66, 0.5);
  border-radius:5px;
  top: 0;
  left: 0;
}
img:out-of-range {
  display: none;
}
body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  height: 101vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#welcomeText {
  font-size: 70px;
  font-family: "Lalezar", cursive;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
}
#camera {
  text-shadow: 0 1px 0 #e1306c, 0 2px 0 #e1306c, 0 3px 0 #e1306c,
    0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px;
  text-rendering: geometricPrecision;
  position: fixed;
  color: white;
  z-index: 3;
}
.modernShadow {
  /*add a modern box-shadow*/
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.288), 0 1px 2px rgba(0, 0, 0, 0.226);
  padding: 7.5px;
  margin: 2px;
  border-radius: 10px;
}
.btn:hover {
  filter: brightness(1.1);
  -webkit-filter: brightness() (1.1);
}
.downloadBtn {
  color: #fff;
  text-align: center;
  border-radius: 50%;
  height: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #000;
}
.shareBtn {
  width:60px;
  color: #000;
  margin-left: 2px;
  padding:10px;
  border-radius:110%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.cold-md-4 {
  width: 500px;
  height: 500px;
}
.nav-tabs {
  margin: 200px 20vw 200px 20vw;
}
nav {
  font-size: 2.23rem;
}
.navbar-nav {
  margin-top: 15px;
  margin-left: 40px;
}
.navbar-brand {
  display: flex;
  font-family: "Monoton", cursive;
  letter-spacing: 1rem;
  text-rendering: geometricPrecision;
}
.navbar {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 85px;
}
.navbar-form {
  margin-right: 0px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#gallery-logo {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px, 0 10px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.5);
  color: white;
}
/*style the body scroll bar usin webkit pseudo class*/
body::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  height: 50%;
}
/*style the scroll bar usin mozilla pseudo class*/
body::-moz-scrollbar {
  width: 20px;
  height: 10px;
}
body::-moz-scrollbar-track {
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
body::-moz-scrollbar-thumb {
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
/*style the scroll bar usin IE*/
body::-ms-scrollbar {
  width: 20px;
  height: 10px;
}
body::-ms-scrollbar-track {
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
body::-ms-scrollbar-thumb {
  border-radius: 10px;
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
#searchInput {
  width: 45vw;
  height: 50px;
  border-radius: 10px;
  border: none;
}
/*change the color of the #searchInput placeholder*/
#searchInput::placeholder {
  color: #212121;
  font-size: 2rem;
  position: relative;
  top: 3px;
}
.fa-search {
  text-shadow: 0 1px 0 #cccccc, 0 1px 0 #c9c9c9, 0 1px 0 #bbb;
}
#basic-addon1 {
  background-color: #212121;
  color: white;
  border-radius: 10px;
}
/*add a overall margin of 10px o the class element form-inline*/
.form-inline {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #212121;
}
.input-group {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0 0.288), 0 1px 2px rgba(0, 0, 0, 0 226);
  border: 4.5px solid #212121;
  border-radius: 10px;
  /*use the font calleda "lalezar"*/
  font-family: "Lalezar", cursive;
  color: #212121;
}
