/*eliminate unused css*/

/*create a thumbnail class and add a on hover effect */
.thumbnail {
    padding: 8px;
    margin: 40px;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 20px;
    /*add a modern shadow effect*/
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
    width:fit-content;
    height:fit-content;
    min-width: 300px;
    min-height: 300px;
}
/* Add a hover effect */
.thumbnail:hover {
    position:relative;
    transition:all 0.1s ease-in-out;
    transform: scale(1.05);
    z-index: 10;
}
img:active{
    z-index:100;
    transform: scale(1.5);
    /*add a box shadow simulating that the object is floating*/
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    /*center in the viewport*/
    position:center;
}
img:out-of-range{
    display:none;
}
img{
    cursor:pointer;
}
body{
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-weight:bolder;
    height: 101vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.searchStyle{
    border:6px solid #212121; height:50px; border-radius:15px;
    width:100px;
}
#camera{
    text-shadow: 0 1px 0 #E1306C, 0 2px 0 #E1306C, 0 3px 0 #E1306C, 0 4px 0 #b9b9b9,
            0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
            0 1px 3px, 0 10px 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.5);
    position:fixed;
    z-index: 100;
}
.modernShadow{
    /*add a modern box-shadow*/
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.288), 0 1px 2px rgba(0, 0, 0, 0.226);
    padding:7.5px;
    margin:2px;
    border-radius:10px;
}
.btn:hover{
    filter:brightness(1.1);
    -webkit-filter:brightness()(1.1)
}
.downloadBtn{
    color:#fff;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 10px;
    background-color: #212121;
}
.shareBtn{
    color:#000;
    margin-left: 10px;
    cursor:pointer;
}
.cold-md-4{
    width:500px;
    height:500px;
}
.nav-tabs{
    margin:200px 20vw 200px 20vw;
}
nav{
    font-size:2.23rem;
}
.navbar-nav{
    margin-top:15px;
    margin-left:40px;
}
.navbar-brand{
    display:flex;
    font-family: "Monoton", cursive;
    letter-spacing: 1rem;
    text-rendering: geometricPrecision;
}
.navbar{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 85px;
}
.navbar-form{
    margin-right:0px;
    font-size:1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.white{
    color:white;
}
.btn{
    font-size:1.5rem;
    height: 40px;
    margin-left:5px;
}
/*style the body scroll bar usin webkit pseudo class*/
body::-webkit-scrollbar {
    width: 20px;
    height: 10px;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
/*style the scroll bar usin mozilla pseudo class*/
body::-moz-scrollbar {
    width: 20px;
    height: 10px;
}
body::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
body::-moz-scrollbar-thumb {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
/*style the scroll bar usin IE*/
body::-ms-scrollbar {
    width: 20px;
    height: 10px;
}
body::-ms-scrollbar-track {
    -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
body::-ms-scrollbar-thumb {
    border-radius: 10px;
    -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
/*set the possible needed media queries*/
@media (max-width: 900px){
    .nav-tabs{
        margin:0px 2.5vw 5px 2.5vw;
    }
    .modernShadow{
        padding:1px;
    }
}
@media (max-width: 1000px){
    .thumbnail{
        margin: 50px 20vw 50px 20vw;
    }
}